* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: \5FAE\8F6F\96C5\9ED1, arial, \5b8b\4f53;
  }
  
  body,
  html,div {
    font-size: 10px;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .clearfix:after {
    clear: both; /*==for FF/chrome/opera/IE8 clear float==*/
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .hide{
    display: none;
  }
  